/* Remove top gap visual refresh. */

@import url('https://raw.githubusercontent.com/G0d0fninjas/visual-refresh-compact-title-bar/refs/heads/experimental/desktop.css');

/*========= Chat related. =========*/

/* Remove hover reactions. */
.c19a557985eb7793-buttonContainer{
    display: none;
}

/* Hide apps button.*/
.e6e74fd4d1221f53-buttonContainer{
    display: none;
}

/* Hide nitro button */

.c0c49a3e5c8626ac-container{
    display: none;
}

/* Hide reactions recommendations on right click. */

.f563df886a7377be-wrapper{
    display: none;
}

/*========= DMs page. =========*/

li div a[href="/shop"], /* Hide 'Shop' Tab */
li div a[href="/store"] /* Hide 'Nitro' Tab */
{
  display: none;
}
